.main{
    background-color: pink;
    height:50px;
    margin: 0px 0px 0px 0px; 
    /* padding: 0px; */
    font-family: appleFont;
    /* display:inline; */
   
    /* margin: 0px 0px 0px 0px; 
    padding: 0px;
    font-family: appleFont; */
}
#miaApp{
    /* text-align: center; */
    /* margin:20px 50px; */
    display:inline-block;
    margin-top:10px;
    margin-left:10px;
    font-size:30px;
    /* position: fixed; */
  

}
.button{
    position: relative;
    float:right;
    margin:5px 10px;
    
    /* text-align:right; */
}

a { 
    cursor: pointer;
}